<!DOCTYPE html> 
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Astrohelp24</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <!-- Favicons -->
      <link href="assets/img/favicon.png" rel="icon">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="assets/css/bootstrap.min.css">
      <!-- Fontawesome CSS -->
      <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
      <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">
      <!-- Fancybox CSS -->
      <link rel="stylesheet" href="assets/plugins/fancybox/jquery.fancybox.min.css">
      <!-- Main CSS -->
      <link rel="stylesheet" href="assets/css/style.css">
      <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
      <![endif]-->
   </head>
   <body>
      <!-- Main Wrapper -->
      <div class="main-wrapper">
          <!-- Header -->
         <header class="header">
            <nav class="navbar navbar-expand-lg header-nav">
               <div class="navbar-header">
                  <a id="mobile_btn" href="javascript:void(0);">
                  <span class="bar-icon">
                  <span></span>
                  <span></span>
                  <span></span>
                  </span>
                  </a>
                  <a href="index.html" class="navbar-brand logo">
                  <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                  </a>
               </div>
               <div class="main-menu-wrapper">
                  <div class="menu-header">
                     <a href="index.html" class="menu-logo">
                     <img src="assets/img/logo.png" class="img-fluid" alt="Logo">
                     </a>
                     <a id="menu_close" class="menu-close" href="javascript:void(0);">
                     <i class="fas fa-times"></i>
                     </a>
                  </div>
                  <ul class="main-nav">
                     <li class=" active">
                        <a href="index.html">Home</a>
                     </li>
                     <li class="">
                        <a href="about-us.html">About Us</a>
                     </li>
                     <li class="has-submenu">
                        <a href="">Services <i class="fas fa-chevron-down"></i></a>
                        <ul class="submenu">
                           <li><a href="astrologer-list.html">Consult Astrologer</a></li>
                           <li><a href="astrologer-list.html">Ask a question</a></li>
                           <li class="has-submenu">
                              <a href="#">Report</a>
                              <ul class="submenu">
                                 <li><a href="career-report.html">Career Report</a></li>
                                 <li><a href="career-report.html">Education Report</a></li>
                                 <li><a href="career-report.html">Marriage Report</a></li>
                                 <li><a href="career-report.html">Love Report</a></li>
                                 <li><a href="career-report.html">Child Report</a></li>
                                 <li><a href="career-report.html">Business Report</a></li>
                                 <li><a href="career-report.html">Foreign Report</a></li>
                                 <li><a href="career-report.html">Property Report</a></li>
                              </ul>
                           </li>
                           <li class="has-submenu">
                              <a href="#">Courses</a>
                              <ul class="submenu">
                                 <li><a href="astrology-course.html">Astrology Courses</a></li>
                                 <li><a href="astrology-course.html">Tarot Course</a></li>
                                 <li><a href="astrology-course.html">Vastu Course</a></li>
                                 <li><a href="astrology-course.html">Palmistry Course</a></li>
                              </ul>
                           </li>
                           <li class="has-submenu">
                              <a href="#">Vastu Consultant</a>
                              <ul class="submenu">
                                 <li><a href="office-vastu.html">Home /office Vastu</a></li>
                                 <li><a href="office-vastu.html">Industrial Vastu</a></li>
                              </ul>
                           </li>
                           <li><a href="horoscope.html">Free Horoscope</a></li>
                           <li><a href="#">Marriage Matching</a></li>
                           <li><a href="#">Numerology</a></li>
                           <li><a href="#">Today's Panchang</a></li>
                        </ul>
                     </li>
                     <li class="">
                        <a href="astrologer-list.html" class="highlight">Consult Astrologers</a>
                     </li>
                     <!--  <li class="">
                        <a href="#">Horoscopes</a>
                          </li> -->
                    <!--  <li class="">
                        <a href="#">My Account</a>
                     </li> -->
                     <!--  <li class="">
                        <a href="blog.html">Blogs</a>
                          </li> -->
                     <li class="">
                        <a href="contact.html">Contact Us</a>
                     </li>
                     <li class="login-link">
                        <a href="login.html">Login / Signup</a>
                     </li>
                  </ul>
               </div>
               <ul class="nav header-navbar-rht">
                  <li class="nav-item contact-item">
                     <div class="header-contact-img">
                        <i class="far fa-hospital"></i>                    
                     </div>
                     <div class="header-contact-detail">
                        <p class="contact-header">Contact</p>
                        <p class="contact-info-header"> +91 9898-989-898</p>
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link header-login" href="login.html">login / Signup </a>
                  </li>
               </ul>
            </nav>
         </header>
         <!-- /Header -->
         <!-- Breadcrumb -->
         <div class="breadcrumb-bar">
            <div class="container-fluid">
               <div class="row align-items-center">
                  <div class="col-md-12 col-12">
                     <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                           <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                     </nav>
                     <h2 class="breadcrumb-title">About us</h2>
                  </div>
               </div>
            </div>
         </div>
         <!-- /Breadcrumb -->
         <!-- Page Content -->
         
            <section class="section section-about">
               <div class="container-fluid">
                 
                  <div class="row">
                     <div class="col-md-6">
                        <div class="section-header">
                           <h2 class="dtr-mb-4">About Us</h2>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop</p>
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="about-img">
                           <img src="assets/img/about.png" class="img-responsive" alt="">
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <section class="section section-vision">
               <div class="container-fluid">
                 
                  <div class="row vis">
                     <div class="col-md-6">
                        <div class="about-img">
                           <img src="assets/img/vision.png" class="img-responsive" alt="">
                        </div>
                     </div>
                     <div class="col-md-6">
                        <div class="section-header">
                           <h2>Our Vision</h2>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop</p>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
         
         <!-- /Page Content -->
         <!-- Footer -->
         <footer class="footer">
            <!-- Footer Top -->
            <div class="footer-top">
               <div class="container-fluid">
                  <div class="row">
                     <div class="col-lg-3 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-about">
                           <div class="footer-logo">
                              <img src="assets/img/footer-logo.png" alt="logo">
                           </div>
                           <div class="footer-about-content">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                              <div class="social-icon">
                                 <ul>
                                    <li>
                                       <a href="#"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                       <a href="#"><i class="fab fa-twitter"></i> </a>
                                    </li>
                                    <li>
                                       <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                       <a href="#"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                       <a href="#"><i class="fab fa-dribbble"></i> </a>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <!-- /Footer Widget -->
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                           <h2 class="footer-title">Online Advice</h2>
                           <ul>
                              <li><a href="#">Chat with Astrologer</a></li>
                              <li><a href="#">Tarot Readers</a></li>
                              <li><a href="#">Marriage Astrologers</a></li>
                              <li><a href="#">Career Astrologers</a></li>
                              <li><a href="#">Money Astrologers</a></li>
                           </ul>
                        </div>
                        <!-- /Footer Widget -->
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                           <h2 class="footer-title">Useful Links</h2>
                           <ul>
                              <li><a href="#">About Us</a></li>
                              <li><a href="#">Astrologer Registration</a></li>
                              <li><a href="#">Partner Us</a></li>
                              <li><a href="#">Career</a></li>
                              <li><a href="#">Money Back</a></li>
                           </ul>
                        </div>
                        <!-- /Footer Widget -->
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-contact">
                           <h2 class="footer-title">Contact Us</h2>
                           <div class="footer-contact-info">
                              <div class="footer-address">
                                 <span><i class="fas fa-map-marker-alt"></i></span>
                                 <p>Delhi-110059, India</p>
                              </div>
                              <p>
                                 <i class="fas fa-phone-alt"></i>
                                 +91 987864253
                              </p>
                              <p class="mb-0">
                                 <i class="fas fa-envelope"></i>
                                 astrohelp24@gmail.com
                              </p>
                           </div>
                        </div>
                        <!-- /Footer Widget -->
                     </div>
                  </div>
               </div>
            </div>
            <!-- /Footer Top -->
            <!-- Footer Bottom -->
            <div class="footer-bottom">
               <div class="container-fluid">
                  <!-- Copyright -->
                  <div class="copyright">
                     <div class="row">
                        <div class="col-md-6 col-lg-6">
                           <div class="copyright-text">
                              <p class="mb-0">&copy; 2021 Astrohelp24. All rights reserved.</p>
                           </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                           <!-- Copyright Menu -->
                           <div class="copyright-menu">
                              <ul class="policy-menu">
                                 <li><a href="#">Terms and Conditions</a></li>
                                 <li><a href="#">Policy</a></li>
                              </ul>
                           </div>
                           <!-- /Copyright Menu -->
                        </div>
                     </div>
                  </div>
                  <!-- /Copyright -->
               </div>
            </div>
            <!-- /Footer Bottom -->
         </footer>
         <!-- /Footer -->
      </div>
      <!-- /Main Wrapper -->
      <!-- jQuery -->
      <script src="assets/js/jquery.min.js"></script>
      <!-- Bootstrap Core JS -->
      <script src="assets/js/popper.min.js"></script>
      <script src="assets/js/bootstrap.min.js"></script>
      <!-- Fancybox JS -->
      <script src="assets/plugins/fancybox/jquery.fancybox.min.js"></script>
      <!-- Custom JS -->
      <script src="assets/js/script.js"></script>
   </body>
</html>